body { 
	background: url(../pics/marble.jpg) no-repeat center fixed;
	background-image: url(../pics/marble.jpg); 
	background-size: cover;
}

nav .navbar-nav li a{
  color: black !important;
}

#siteheader{
	padding: 25px;
	padding-bottom: 50px;
	text-align: center;
}

div.a{
	font-family: 'Lato', sans-serif;
	font-size: 125%;
}

div.b{
	font: 400 100px/1.3 'Indie Flower', cursive;
	font-size: 350%; 
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
	color: #BF1111;
}

div.c{
	font-family: 'Dancing Script', cursive;
	font-size: 150%;
}

#page-header{
	padding: 15px;
}

@charset "utf-8";
/* CSS Document */
@import url(http://weloveiconfonts.com/api/?family=entypo);

a[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

/* ---------- GENERAL ---------- */

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#socialcontainer {
  background-color: #fffdf0;
	font: 100%/1.5em sans-serif;
	height: 3em;
	left: 50%;
	margin: -1.5em 0 0 -6em;
	position: absolute;
	top: 50%;
	width: 12em;
}

/* ---------- SOCIAL ---------- */

/* .social {
	position: absolute;
	height: 3em;
	width: 13.5em;
}
 */
.social li {
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2.2em;
	position: absolute;
	-webkit-transition: -webkit-transform .7s;
	-moz-transition: -moz-transform .7s;
	-ms-transition: -ms-transform .7s;
	-o-transition: -o-transform .7s;
	transition: transform .7s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em;
}

.social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em;	
}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
	-moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
	-o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
	background: #155b9d;
	left: 0;
	top: 0%;
}

.twitter {
	background: #1a9ec4;
	bottom: 0;
	left: 25%;
}

.behance {
	background: #3f7aa3;
	bottom: 0;
	left: 75%;
}

.instagram {
	background: #157f9d;
	left: 100%;
	top: 0%;
}