#siteheader{
	padding: 25px;
	padding-bottom: 50px;
	text-align: center;
}

div.a{
	font-family: 'Lato', sans-serif;
	font-size: 125%;
}

div.b{
	font: 400 100px/1.3 'Indie Flower', cursive;
	font-size: 350%; 
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
	color: #BF1111;
}

div.c{
	font-family: 'Dancing Script', cursive;
	font-size: 150%;
}

.jumbotron{
	background-image: url("image1.png");
	background-size: cover;
	height: 760px;
	background-position: -70px; 
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
	background-color: #BF1111;
	color: white;
	height: 70px;
	font-size: 20px;
}

.welcome{
	margin-top: 100px;
	margin-bottom: 120px;
	margin-left: 100px;
	margin-right: 100px;  
    
}
.welcome.row{
	border: 5px solid #BF1111;
}

.welcome,h1{
	text-align: center;
}

.virtues{
	background-color: #000B19;
	color: white;
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 120px;
	padding-right: 100px;
	text-align: center;
}

#eboard{
	padding-top: 0;
}

a:link{
	color: white;
}

a:visited{
	color: black:
}
